body{
	background-color: white;
	color: black;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

div.header{
	background-image: url("../img/home3.jpg");
	background-size: 100% 100%;
}

#logo{
	padding-top: 15px;
	height: 80px;
	text-align: center;
	color: white;
}

#logo h1{
	margin: 0;
	font-size: 48px;
	font-weight: bolder;
}

div.mainQuote{
	/*background-color: black;*/
	height: 560px;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 200%;
	font-weight: 700;
	padding-top: 100px;
}

div.mainAbout{
	display: block;
	height: 500px;
	text-align: center;
	padding: 50px 250px 0 250px;
	margin: 0;
	font-size: 32px;
	font-weight: 600;
	line-height: 150%;
	color: white;
	background-image: url("../img/home6.jpg");
	background-size: cover;
	filter: brightness(90%);
}

/*NAVBAR CSS*/

nav{
	height: 40px;
	
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;	
}

nav ul li{
	float: left;
	/*border: 0.5px solid grey;*/
	width: 20%;
}

nav ul li >a{
	color: white;
	font-size: 15px;
	font-weight: 700;
	text-align: center;
	display: block;
	text-decoration: none;
	line-height: 40px;
	transition: background 1s;
}

nav ul li a >img{
	width: 20px;
	height: 20px;
}

nav ul li button{	
	padding: 0;
}

li button:hover{
	background-color: white;
}

nav ul li button img{
	width: 20px;
	height: 20px;
}

.fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: black;
	transition: background .5s linear;
}

a.home:hover{
	background: -webkit-gradient(radial, 249 23, 0, 249 23, 300, from(rgb(197, 45, 73)), to(rgb(138, 59, 211))) rgb(138, 59, 211);
}

a.prayer:hover{
	background: -webkit-gradient(radial, 249 23, 0, 249 23, 300, from(rgb(197, 45, 73)), to(rgb(138, 59, 211))) rgb(138, 59, 211);
}

a.blogs:hover{
	background: -webkit-gradient(radial, 8.18182 23, 0, 8.18182 23, 300, from(rgb(68, 230, 163)), to(rgb(68, 200, 230))) rgb(68, 200, 230);
}

a.archive:hover{
	background: -webkit-gradient(radial, 154.364 23, 0, 154.364 23, 300, from(rgb(227, 208, 132)), to(rgb(175, 115, 42))) rgb(175, 115, 42);
}

a.about:hover{
	background: -webkit-gradient(radial, 78.5455 23, 0, 78.5455 23, 300, from(rgb(105, 93, 175)), to(rgb(90, 174, 202))) rgb(90, 174, 202);
}

a.contact:hover{
	background: -webkit-gradient(radial, 116.727 23, 0, 116.727 23, 300, from(rgb(197, 45, 73)), to(rgb(225, 144, 81))) rgb(225, 144, 81);
}

#hoverAnimate{
	transition: all 1s;
}

#hoverAnimate:hover{
	background-color: black;
}

button{
	background-color: #2b506e;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	font-weight: 600;
	transition: background-color .2s ease-out;
}

button:hover{
	background-color: SteelBlue;
}

/*PRAYER CSS*/
.prayerTitle{
	height: 400px;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
	font-weight: 700;
}


/*ARCHIVE CSS*/
.archiveTitle{
	height: 300px;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 150px;
	font-weight: 700;
}

.archiveContent{
	margin-top: 20px;
	padding: 0 15% 0 25%;
	display: flex;
	justify-content: space-between;
	-webkit-flex-flow: row wrap;
	align-content: space-between;
}

.archiveContent div{
	width: 48%;
	font-size: 16px;
	font-weight: 600;
	padding-top: 20px;
}

.archiveContent img{
	height: 20px;
	width: 45px;
}

.saveButtonDiv{
	margin: 0;
	padding: 0;
	text-align: right;
}

.saveButton{
	background-color: white;
	color: SteelBlue;
	padding: 5px 10px;
	margin: 0;
	border: none;
	cursor: pointer;
	width: 60px;
	font-size: 12px;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	border: 1px solid SteelBlue;
}

.saveButton:hover{
	background-color: SteelBlue;
	color: white;
}

.sortButtonDiv{
	text-align: center;
}

.sortButton{
	background-color: white;
	color: black;
	padding: 14px 20px;
	margin-right: 20px;
	border: none;
	cursor: pointer;
	width: 20%;
	font-size: 24px;
	border-radius: 5px;
	font-weight: 600;
}

/*ABOUT US CSS*/
div.aboutTitle{
	/*background-color: black;*/
	height: 500px;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 200%;
	font-weight: 700;
	padding-top: 75px;
}

.aboutTitle > h1{
	margin: 0;
}

.aboutContent{
	padding: 20px 100px;
	margin: 0;
	font-size: 24px;
	text-align: center;
}

/*CONTACT PAGE CSS*/
div.contactTitle{
	/*background-color: black;*/
	height: 400px;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	font-size: 40px;
	line-height: 200px;
	font-weight: 700;
}

.formTitle{
	text-align: center;
	color: SteelBlue;	
}

.contactContainer{
	margin-top: 50px;
	padding: 0 15%;
	display: flex;
	justify-content: space-between;
	-webkit-flex-flow: row wrap;
	align-content: space-between;
}

.contactContainer > div{
	width: 45%;
}

.contactContainer >div.message{
	width: 100%;
}

input#name, input#email{
	font-size: 20px;
	border: 1px solid #ccc;
	width: 100%;
	padding: 20px 0;
	border-radius: 4px;
}

input#message{
	font-size: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	height: 100px;
	padding: 10px 0;
	margin-top: 40px;
}

.contactContainer button{
	margin: 40px 0;
}

.postsContainer{
	text-align: center;
}

/*FOOTER CSS*/

.footer{
	display: block;
	background-color: black;
	color: white;
	text-align: center;
	height: 100px;
	line-height: 100px;
	margin: 0;
}
